
.cssload-loader {
	width: 313px;
	height: 63px;
	line-height: 63px;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
	font-family: helvetica, arial, sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size:23px;
	color: rgb(16,163,38);
	letter-spacing: 0.2em;
}
.cssload-loader::before, .cssload-loader::after {
	content: "";
	display: block;
	width: 19px;
	height: 19px;
	background: rgb(235,26,54);
	position: absolute;
	animation: cssload-load 0.91s infinite alternate ease-in-out;
		-o-animation: cssload-load 0.91s infinite alternate ease-in-out;
		-ms-animation: cssload-load 0.91s infinite alternate ease-in-out;
		-webkit-animation: cssload-load 0.91s infinite alternate ease-in-out;
		-moz-animation: cssload-load 0.91s infinite alternate ease-in-out;
}
.cssload-loader::before {
	top: 0;
}
.cssload-loader::after {
	bottom: 0;
}



@keyframes cssload-load {
	0% {
		left: 0;
		height: 38px;
		width: 19px;
	}
	50% {
		height: 10px;
		width: 50px;
	}
	100% {
		left: 294px;
		height: 38px;
		width: 19px;
	}
}

@-o-keyframes cssload-load {
	0% {
		left: 0;
		height: 38px;
		width: 19px;
	}
	50% {
		height: 10px;
		width: 50px;
	}
	100% {
		left: 294px;
		height: 38px;
		width: 19px;
	}
}

@-ms-keyframes cssload-load {
	0% {
		left: 0;
		height: 38px;
		width: 19px;
	}
	50% {
		height: 10px;
		width: 50px;
	}
	100% {
		left: 294px;
		height: 38px;
		width: 19px;
	}
}

@-webkit-keyframes cssload-load {
	0% {
		left: 0;
		height: 38px;
		width: 19px;
	}
	50% {
		height: 10px;
		width: 50px;
	}
	100% {
		left: 294px;
		height: 38px;
		width: 19px;
	}
}

@-moz-keyframes cssload-load {
	0% {
		left: 0;
		height: 38px;
		width: 19px;
	}
	50% {
		height: 10px;
		width: 50px;
	}
	100% {
		left: 294px;
		height: 38px;
		width: 19px;
	}
}